<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @notice.titulo %>
</p>

<p>
  <b>Resumen:</b>
  <%= @notice.resumen %>
</p>

<p>
  <b>Contenido:</b>
  <%= @notice.contenido %>
</p>

<p>
  <b>Image:</b>
  <%= @notice.image %>
</p>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
